{% load staticfiles i18n %}
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Astronary{% endblock title %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    {% block css %}
    <!-- Uncomment with at least one vendor css or cssmin fails on 'grunt build'. -->
    <!-- // build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- // endbuild -->

    <!-- build:css(.tmp) /static/styles/main.css -->
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="stylesheet" href="static/styles/mercuryou.css">
    <!-- endbuild -->
    {% endblock %}
  </head>
  <body>
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- main header -->
    <header id="main-header" class="top-bar row sticky">
      <div style="width:100%">

        <div class="top-bar-left">
          <nav>
          <ul class="menu">
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "Profile" %}</a></li>
            <li><a href="{% url 'charts:list' %}">{% trans "Charts" %}</a></li>
            <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
          {% else %}
            <li><a href="{% url 'account_signup' %}">{% trans "Signup" %}</a></li>
            <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
          {% endif %}
            <li><a href="{% url 'astrology' %}">{% trans "Astrology" %}</a></li>
            <li><a href="{% url 'about' %}">{% trans "About" %}</a></li>
          </ul>
          </nav>
        </div>

        <div class="logo-container align-center">
          <h1><a href="{% url 'home' %}">mercurYou</a></h1>
          <img src="/static/images/mercury.svg" class="mercuryou-logo"/>
        </div>

        <div class="top-bar-right">
          <!-- if request.user.is_authenticated  -->
          <a href="#!"><img src="/static/images/icons/menu/messages.svg" /></a>
          <a href="#!"><img src="/static/images/icons/menu/settings.svg" /></a>
          <!-- endif  -->
        </div>
      </div>
    </header>

    <!-- main content -->
    <section id ="content" class="content-container">

      {% if messages %}
      <aside>
          {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
          {% endfor %}
      </aside>
      {% endif %}

      {% block content %}
      <!-- profile header -->
      <section id="user-section" class="user-container">
        <img class="user-img" src="/static/images/hermes.jpg" />
        <div class="user-descript">
          <h2>Hermes</h2>
          <div class="level">
            <li><a href="#">Level<br>4</a></li>
          </div>
        </div>
        <div class="user-usage">
            <ul class="vertical menu">
              <li><a href="#">666<br>Posts</a></li>
              <li><a href="#">1.5k<br>Follower</a></li>
              <li><a href="#">205<br>Favorites</a></li>
            </ul>
        </div>
      </section>

      <!-- chart navigation section -->
      <section class="chart-nav">
        <div class="expanded row">
        <!-- chart draw -->
          <div class="map-container">
            <img src="/static/images/bettermap.jpg">
          </div>
          <!-- navigation menu -->
          <div class="nav-menu-container " data-sticky-container>
            <nav class="nav-menu align-right sticky" data-sticky data-options="marginTop:5;" data-top-anchor="user-section:bottom" >
            <div class="title">
              <span>Navegue<br>pelo seu mapa</span>
            </div>
            <ul class="accordion vertical menu" data-accordion>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title"><h6>Signos</h6></a>
                <div class="accordion-content" data-tab-content>
                  Aries<br>Touro<br>Gêmeos<br>...<br>Peixes
                </div>
              </li>
              <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title"><h6>Planetas</h6></a>
                <div class="accordion-content" data-tab-content>
                  Sol em Caprica<br>Lua em Escorpica<br>...<br>Mercúrio em Sagitáriozica
                </div>
              </li>
                <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title"><h6>Casas</h6></a>
                <div class="accordion-content" data-tab-content>
                  Casa I<br>Casa II<br>Casa III<br>...<br>Casa XII
                </div>
              </li>
            </ul>
            </nav>
          </div>
        </div>
      </section>
      {% endblock content %}
    </section>

    {% block modal %}{% endblock modal %}

    {% block footer %}
    <!-- footer region -->
    <footer class="footer">
       <div class="footer-logo">
          <object type="image/svg+xml" data="/static/images/mercury.svg" class="mercuryou-logo"></object>
          <h1>mercurYou</h1>
        </div>
    </footer>
    {% endblock footer %}

    <!-- Angular route template content for example only -->
    <!-- <div class="container">
    <div ng-view=""></div>
    </div>
 -->


    {% block javascript %}
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(app) /static/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="../bower_components/angular-resource/angular-resource.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="../bower_components/angular-touch/angular-touch.js"></script>
    <script src="../bower_components/what-input/what-input.js"></script>
    <script src="../bower_components/foundation-sites/dist/foundation.js"></script>
    <script src="../bower_components/Snap.svg/dist/snap.svg-min.js"></script>
    <script src="../bower_components/astrochart/dist/astrochart.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(app) /static/scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- endbuild -->

    <!-- move me to a better location -->
    <script>
      $(document).foundation();
    </script>
    <!-- move me to a better location -->

    <!-- livereload script -->
    <script type="text/javascript">
        document.write('<script src="http://'
            + (location.host || 'localhost').split(':')[0]
            + ':35729/livereload.js?snipver=1" type="text/javascript"><\/script>')
    </script>

    {% endblock javascript %}
    {% block footerjs %}
    {% endblock footerjs %}
</body>
</html>
