{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}
    Are you sure you want to delete?
    <h1>{{ chart.name }}</h1>
    <form class="form-horizontal" method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Delete</button>
            <a class="btn" href="{% url 'charts:list' %}">Cancel</a>
          </div>
        </div>
    </form>

{% endblock %}


{% block footer %}
{{ form.media }}
{% endblock %}
