{% load i18n %}
{% load tz %}
{% load astrotags %}

<div class="row">
    <div class="col-sm-12">
      <h2>{% trans "Name" %}: {{ object.name }}</h2>
      {% if object.birthday %}
        {% if object.hometown %}
          <p>{{ object.birthday|timezone:object.hometown.timezone }} ({{ object.hometown.timezone }})</p>
        {% else %}
          <p>{{ object.birthday|utc }} (UTC)</p>
        {% endif %}

      {% endif %}
      {% if object.hometown %}
      <p>{% trans "Hometown" %}: {{ object.hometown }}</p>
      {% endif %}

      <div id="astrochart">
   </div>

      <table class="table">
        <tr>
          <td>{% trans "Planet" %}</td>
          <td>{% trans "Sign" %}</td>
          <td>{% trans "Angle" %}</td>
          {% if object.hometown %}
          <td>{% trans "House" %}</td>
          {% endif %}
        </tr>

      {% for planet_code, planet in object.chart.planets.items %}
        <tr>

          <td>{% trans planet.name %}</td>
          <td>{{ planet.x|sign }}</td>
          <td>{{ planet.x|mod30|dm }}</td>
          {% if object.hometown %}
          <td>{{planet.house}} </td>
          {% endif %}
          </tr>
      {% endfor %}
        </table>



    </div>
  </div>
