{% extends "index.html" %}
{% load static %}{% load i18n %}
{% block title %}My charts{% endblock %}

{% block content %}

<div class="container">

    <h2>Charts</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Birthday</th>
          <th>Hometown</th>
        </tr>
      </thead>
      <tbody>
      {% for chart in chart_list %}
      <tr>
        <td><a href="{% url 'charts:detail' chart.pk %}">{{ chart.name }}</a></td>
        <td><a href="{% url 'charts:detail' chart.pk %}">{{ chart.birthday }}</a></td>
        <td><a href="{% url 'charts:detail' chart.pk %}">{{ chart.hometown }}</a></td>
        <td><a href="{% url 'charts:delete' chart.pk %}">Remove</a></td>
      </tr>

        {% endfor %}

      </tbody>

    </table>
    <a class="btn btn-success" href="{% url 'charts:create' %}">Add</a>

</div>

{% endblock content %}
