{% extends "index.html" %}
{% load static %}
{% load tz %}
{% load astrotags %}
{% block title %}Chart: {{ object.name }}{% endblock %}

{% block content %}
<div class="container">

  {% include 'charts/chart.html' %}

{% if object.user == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'charts:update' object.pk %}">Edit</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>

{% endblock content %}

