{% extends "index.html" %}

{% load i18n %}
{% load account %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="astrology-container row">

      <!-- posts -->
      <section id="post-section" class="post-group">
        <header class="header">
          <div class="current-symbols">
          <!-- hardcoded for now ;D -->
            <svg class="planet" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
<path class="mars" fill-rule="evenodd" clip-rule="evenodd" fill="#0D0D0D" d="M37.901,4.594c1.508,0,3.016,0.003,4.523-0.001
  c1.378-0.004,1.761,0.354,1.758,1.681c-0.006,2.938-0.056,5.877-0.007,8.814c0.021,1.157-0.514,1.487-1.538,1.49
  c-2.545,0.007-2.597-0.032-2.506-2.576c0.008-0.231,0.07-0.465,0.05-0.692c-0.044-0.47,0.268-1.115-0.332-1.344
  c-0.522-0.2-0.925,0.31-1.272,0.637c-1.769,1.671-3.511,3.372-5.259,5.065c-0.648,0.628-0.407,1.269,0.025,1.872
  c5.17,7.212,2.686,16.791-4.508,21.232c-5.468,3.376-11.055,3.455-16.646,0.712c-3.435-1.685-5.89-4.47-7.409-8.116
  c-1.196-2.87-1.09-5.813-0.678-8.666c0.453-3.143,2.229-5.833,4.649-7.944c3.291-2.87,7.137-4.384,11.549-4.258
  c3.074,0.088,5.912,0.978,8.48,2.676c0.583,0.385,1.094,0.352,1.574-0.097c1.864-1.739,3.724-3.481,5.56-5.25
  c0.279-0.27,0.688-0.627,0.426-1.095c-0.246-0.438-0.744-0.333-1.16-0.319c-0.733,0.026-1.467,0.119-2.199,0.11
  c-0.816-0.01-1.301-0.42-1.284-1.298c0.008-0.424-0.03-0.851-0.01-1.274c0.044-0.916,0.465-1.41,1.46-1.385
  c1.584,0.039,3.169,0.01,4.754,0.01C37.901,4.584,37.901,4.589,37.901,4.594z M19.763,39.512c5.889,0.051,10.909-3.834,12.056-9.378
  c1.345-6.491-2.933-12.186-9.229-13.478c-5.688-1.167-11.392,1.461-13.831,6.835c-1.236,2.724-1.376,5.551-0.375,8.24
  C10.157,36.498,14.563,39.578,19.763,39.512z"/>
</svg>
<svg class="sign" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="48px" height="48px" viewBox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve">
<path class="pisces" fill-rule="evenodd" clip-rule="evenodd" fill="#070707" d="M36.341,26.29c-3.299,0.004-3.4,0.027-2.664,3.209
  c0.642,2.768,1.717,5.399,3.551,7.636c1.021,1.245,2.323,2.02,3.972,2.192c1.463,0.152,2.668,1.497,2.638,2.841
  c-0.031,1.404-1.248,2.585-2.798,2.631c-4.086,0.119-6.855-2.13-9.083-5.219c-2.462-3.415-3.635-7.323-4.159-11.455
  c-0.221-1.746-0.39-1.875-2.177-1.868c-1.28,0.006-2.561,0.026-3.839-0.008c-1.019-0.028-1.485,0.429-1.613,1.431
  c-0.487,3.834-1.424,7.537-3.504,10.856c-2.208,3.524-5.056,6.12-9.488,6.296c-1.39,0.057-2.346-0.571-2.856-1.896
  C3.847,41.71,4.365,40.814,5.198,40c0.338-0.332,0.743-0.549,1.218-0.563c2.352-0.078,3.856-1.484,5.085-3.277
  c1.768-2.576,2.565-5.525,3.107-8.549c0.157-0.873-0.269-1.4-1.231-1.373c-1.052,0.029-2.104,0.07-3.154,0.052
  c-1.814-0.034-3.026-1.177-3.055-2.827C7.14,21.951,8.228,20.85,10,20.728c1.09-0.075,2.191-0.001,3.287,0.007
  c0.843,0.005,1.52-0.246,1.34-1.251c-0.614-3.438-1.528-6.77-3.835-9.527c-1.016-1.214-2.174-2.13-3.878-2.299
  C4.869,7.456,3.925,6.083,4.26,4.12c0.244-1.433,1.924-2.365,3.642-2.094c4.775,0.754,7.58,3.946,9.664,7.921
  c1.517,2.894,2.428,6.014,2.625,9.298c0.068,1.127,0.645,1.504,1.686,1.486c1.324-0.024,2.65-0.036,3.973,0.016
  c1.24,0.048,1.834-0.465,1.955-1.724c0.399-4.162,1.719-8.023,4.055-11.5c2.044-3.046,4.697-5.217,8.535-5.51
  c1.399-0.107,2.814,0.717,3.297,1.986c0.422,1.108,0.013,2.061-0.775,2.867c-0.391,0.399-0.856,0.707-1.439,0.714
  c-2.567,0.031-4.009,1.736-5.325,3.597c-1.718,2.426-2.134,5.31-2.746,8.113c-0.198,0.91,0.33,1.456,1.247,1.308
  c0.966-0.156,1.917-0.048,2.871-0.042c1.909,0.011,3.294,1.298,3.275,2.97c-0.019,1.67-1.234,2.714-3.224,2.762
  C37.163,26.298,36.753,26.29,36.341,26.29z"/>
</svg>
            <div class="title"><h3>{{ category }}</h3></div>
          </div>
          <div class="post-filters">
            <ul class ="menu">
              <li><a href="#">todos os posts</a></li>
              <li><a href="#">textos</a></li>
              <li><a href="#">imagens</a></li>
              <li><a href="#">frases</a></li>
              <li><a href="#">links</a></li>
              <li><a href="#">áudio</a></li>
              <li><a href="#">vídeo</a></li>
            </ul>
          </div>
        </header>
      </section>

      <!-- astrology navigation section -->
      <section id="nav-section" class="chart-nav" >
        <div class="expanded row ">

          <!-- navigation menu -->
          <div class="nav-menu-container " data-sticky-container>
            <nav class="nav-menu align-right sticky" data-sticky data-options="marginTop:5;" data-top-anchor="main-header:bottom" >
            <div class="title">
              <span>Navegue<br>pela astrologia</span>
            </div>
            <ul class="accordion vertical menu" data-accordion>
              <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title"><h6>Signos</h6></a>
                <div class="accordion-content" data-tab-content>
                  <ul class="symbol-menu">
                    <li><a href="{% url 'posts:list' 'aries' %}"><img src="/static/images/signs/aries.svg"><h6>Áries</h6></a></li>
                    <li><a href="{% url 'posts:list' 'taurus' %}"><img src="/static/images/signs/taurus.svg"><h6>Touro</h6></a></li>
                    <li><a href="{% url 'posts:list' 'gemini' %}"><img src="/static/images/signs/gemini.svg"><h6>Gêmeos</h6></a></li>
                    <li><a href="{% url 'posts:list' 'cancer' %}"><img src="/static/images/signs/cancer.svg"><h6>Câncer</h6></a></li>
                    <li><a href="{% url 'posts:list' 'leo' %}"><img src="/static/images/signs/leo.svg"><h6>Leão</h6></a></li>
                    <li><a href="{% url 'posts:list' 'virgo' %}"><img src="/static/images/signs/virgo.svg"><h6>Virgem</h6></a></li>
                    <li><a href="{% url 'posts:list' 'libra' %}"><img src="/static/images/signs/libra.svg"><h6>Libra</h6></a></li>
                    <li><a href="{% url 'posts:list' 'scorpio' %}"><img src="/static/images/signs/scorpio.svg"><h6>Escorpião</h6></a></li>
                    <li><a href="{% url 'posts:list' 'sagittarius' %}"><img src="/static/images/signs/sagittarius.svg"><h6>Sagitário</h6></a></li>
                    <li><a href="{% url 'posts:list' 'capricorn' %}"><img src="/static/images/signs/capricorn.svg"><h6>Capricórnio</h6></a></li>
                    <li><a href="{% url 'posts:list' 'aquarius' %}"><img src="/static/images/signs/aquarius.svg"><h6>Aquário</h6></a></li>
                    <li><a href="{% url 'posts:list' 'pisces' %}"><img src="/static/images/signs/pisces.svg"><h6>Peixes</h6></a></li>
                  </ul>
                </div>
              </li>
              <li class="accordion-item is-active" data-accordion-item>
                <a href="#" class="accordion-title"><h6>Planetas</h6></a>
                <div class="accordion-content" data-tab-content>
                <ul class="symbol-menu">
                    <li><a href="{% url 'posts:list' 'sun' %}"><img src="/static/images/planets/sun.svg"><h6>Sol</h6></a></li>
                    <li><a href="{% url 'posts:list' 'moon' %}"><img src="/static/images/planets/moon.svg"><h6>Lua</h6></a></li>
                    <li><a href="{% url 'posts:list' 'mercury' %}"><img src="/static/images/planets/mercury.svg"><h6>Mercúrio</h6></a></li>
                    <li><a href="{% url 'posts:list' 'venus' %}"><img src="/static/images/planets/venus.svg"><h6>Vênus</h6></a></li>
                    <li><a href="{% url 'posts:list' 'mars' %}"><img src="/static/images/planets/mars.svg"><h6>Marte</h6></a></li>
                    <li><a href="{% url 'posts:list' 'jupiter' %}"><img src="/static/images/planets/jupiter.svg"><h6>Júpiter</h6></a></li>
                    <li><a href="{% url 'posts:list' 'saturn' %}"><img src="/static/images/planets/saturn.svg"><h6>Saturno</h6></a></li>
                    <li><a href="{% url 'posts:list' 'uranus' %}"><img src="/static/images/planets/uranus.svg"><h6>Urano</h6></a></li>
                    <li><a href="{% url 'posts:list' 'neptune' %}"><img src="/static/images/planets/neptune.svg"><h6>Netuno</h6></a></li>
                    <li><a href="{% url 'posts:list' 'pluto' %}"><img src="/static/images/planets/pluto.svg"><h6>Plutão</h6></a></li>
                </ul>
                <ul class="symbol-menu">
                    <li><a href="{% url 'posts:list' 'aries' %}"><img src="/static/images/signs/aries.svg"><h6>Áries</h6></a></li>
                    <li><a href="{% url 'posts:list' 'taurus' %}"><img src="/static/images/signs/taurus.svg"><h6>Touro</h6></a></li>
                    <li><a href="{% url 'posts:list' 'gemini' %}"><img src="/static/images/signs/gemini.svg"><h6>Gêmeos</h6></a></li>
                    <li><a href="{% url 'posts:list' 'cancer' %}"><img src="/static/images/signs/cancer.svg"><h6>Câncer</h6></a></li>
                    <li><a href="{% url 'posts:list' 'leo' %}"><img src="/static/images/signs/leo.svg"><h6>Leão</h6></a></li>
                    <li><a href="{% url 'posts:list' 'virgo' %}"><img src="/static/images/signs/virgo.svg"><h6>Virgem</h6></a></li>
                    <li><a href="{% url 'posts:list' 'libra' %}"><img src="/static/images/signs/libra.svg"><h6>Libra</h6></a></li>
                    <li><a href="{% url 'posts:list' 'scorpio' %}"><img src="/static/images/signs/scorpio.svg"><h6>Escorpião</h6></a></li>
                    <li><a href="{% url 'posts:list' 'sagittarius' %}"><img src="/static/images/signs/sagittarius.svg"><h6>Sagitário</h6></a></li>
                    <li><a href="{% url 'posts:list' 'capricorn' %}"><img src="/static/images/signs/capricorn.svg"><h6>Capricórnio</h6></a></li>
                    <li><a href="{% url 'posts:list' 'aquarius' %}"><img src="/static/images/signs/aquarius.svg"><h6>Aquário</h6></a></li>
                    <li><a href="{% url 'posts:list' 'pisces' %}"><img src="/static/images/signs/pisces.svg"><h6>Peixes</h6></a></li>
                  </ul>
                </div>
              </li>
                <li class="accordion-item" data-accordion-item>
                <a href="#" class="accordion-title"><h6>Casas</h6></a>
                <div class="accordion-content" data-tab-content>
                  <ul class="symbol-menu">
                    <li><a href="#"><img src="/static/images/signs/aries.svg"><h6>Casa 1</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/taurus.svg"><h6>Casa 2</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/gemini.svg"><h6>Casa 3</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/cancer.svg"><h6>Casa 4</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/leo.svg"><h6>Casa 5</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/virgo.svg"><h6>Casa 6</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/libra.svg"><h6>Casa 7</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/scorpio.svg"><h6>Casa 8</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/sagittarius.svg"><h6>Casa 9</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/capricorn.svg"><h6>Casa 10</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/aquarius.svg"><h6>Casa 11</h6></a></li>
                    <li><a href="#"><img src="/static/images/signs/pisces.svg"><h6>Casa 12</h6></a></li>
                  </ul>
                </div>
              </li>
            </ul>
            </nav>
          </div>
        </div>
      </section>


  </div>
<div>

{% for post in post_list %}
    <h3>{{ post.title }}</h3>
  <p>{{ post.text }}</p>
  {% endfor %}

  <a class="btn btn-success" href="{% url 'posts:create' category.slug %}">Add</a>
</div>

{% endblock %}

