{% extends "index.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ chart.name }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <form class="form-horizontal" method="post" action=".">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">{% trans "Save" %}</button>
          </div>
        </div>
    </form>

{% endblock %}


{% block footerjs %}
{{ form.media }}
{% endblock %}
