{% extends "index.html" %}
{% load static %}
{% load i18n %}

{% block title %}Post: {{ post.title }}{% endblock %}

{% block content %}
<div class="container">
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 ">
    <br>
    <br>
    <br>
    <h2><a class="btn btn-primary" href="{% url 'posts:list' post.category.slug %}">{% trans "Ver todos sobre" %} {{post.category}}</a></h2>
    <h1>{{ post.title }}</h1>
    <p>{{ post.text }}</p>
    <a class="btn btn-primary" href="{% url 'posts:update' object.pk %}">{% trans "Edit" %}</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->


</div>

{% endblock content %}

