@import "foundation-sites/scss/foundation.scss";

.chart-nav {
	position: absolute;
	width: 84vw;
}
.map-container{
	@include grid-column(8);
	position: relative;
	max-width: 52vw;
	float: left;
}

.nav-menu-container {
	@include grid-column(3);
	@include grid-column-position(1);
	.nav-menu {
		padding: 0;
		width: 20vw;
		height: 52vw;

		border-radius: 10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		.vertical.menu a:hover {
			background-color: #9f9d99;
			color: #dcdcda;
		}
		.title {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			background-color: #625e57;
			color: #fff;
			font-size: 12px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
			padding: 12px;
			text-align: center;
		}

		.symbol-menu {
			@include grid-row;
			list-style-type: none;
			img {
				height: 30px;
				width: 100%;
				margin: auto;
			}
			li {
				@include grid-column(3 of 12);
				h6 {
					font-size: 80%;
					text-align: center;
					justify-content: center;
				}
			}
			
		}
	}
}
.astrology-container {
	margin-top: 12vh;
	@include grid-column(12);
	.post-group {
		@include grid-column(8);
		.header {
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 10px;
			padding: 0;
			background-color: #9f9d99;
			color: #fff;
			font-size: 12px;
			.current-symbols {
				height: 16vh;
				.title {
					position:relative;
					bottom: 55%;
					margin-left: 10px;
					h3 {
					color: black;
					}
				}
				.planet, .sign {
					width: 130px;
					height: 130px;
				}
				.mars, .pisces {
					fill: #dcdcda;
				}
				.symbol {
					width: 100px;
					background-color: red;
				}
				img {
					background-color:#FFF;
				}
			}
		}
		.post-filters .menu {
			background-color: #625e57;
			position: relative;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			a {
				color: #FFF;
				&:hover {
					color: #dcdcda;
				}
			}
		}
	}
}

