// This is main style sheet for MercurYou Site
@import "colors";

@import "foundation-sites/scss/foundation.scss";

// FIBONACCI PROPORTIONS ARE:
// 91vh; 56vh; 35vh; 21vh; 14vh; 7vh
// 91vw; 56vw; 35vw; 21vw; 14vw; 7vw
// 102 63 39 24 15 9 6 3 3
// 84 52 32 20 12 8 4 4 WINNER



// adding custom font, donno if it is the better way to do it
@font-face {
    font-family: Museo300;
    src: url('/static/fonts/Museo300-Regular.otf');
}
@font-face {
    font-family: Museo500;
    src: url('/static/fonts/Museo500-Regular.otf');
}

a {
	color: #000;
}

a:hover {
	color: #9f9d99;
}

h1 {
	font-family: Museo500;
}

h2, h3 {
	font-family: Museo300;
}

.content-container{
	max-width: 84vw;
	height: 130vh;
	margin: auto;
	margin-bottom: 4vh;
	display: flex;
	flex-flow: column;
}

.menu {
	position: absolute;
	bottom: 0;
	font-size: 80%;
}

.vertical.menu {
	position: relative;
}

.top-bar{
	width: 100vw;
	padding: 0;
	font-family: Museo300;
	background-color: #625e57;
	color: #fff;
	height: 8vh;
	position: fixed;
	z-index: 999;
	text-align: center;
	h1{
		font-size: 2rem;
	}
	.top-bar-left {
		@include grid-column(4);
		min-height: 7vh;
		.menu {
			@include grid-column(4);
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			background-color: #625e57;
			color: #fff;
			a {
				color: #fff;
				border-bottom: 5px solid #625e57; //gambi horrivel
			}
			a:hover {
				border-bottom: 5px solid #fff;
			}
		}
	}

	.logo-container{
		@include grid-column(4);
		@include grid-column-position(center);
		position: relative;
		display: inline-block;
		// transform: translate(-50%);
		h1, a { color: #fff; }
		.mercuryou-logo{
    		position: absolute;
   			left: 45%;
    		top: 74%;
			width: 45px;
		}
	}

	.top-bar-right {
		@include grid-column(4);
		min-height: 7vh;
		padding-top: 15px;
		img {
			height: 35px;
		}
	}
}

.user-container{
	@include grid-column(10);
	@include grid-column-position(center);
	
	// Below header (stays on top).
	margin-top: 12vh;
	margin-bottom: 4vh;
	.user-img{
		@include grid-column(2 of 10);

		border-radius: 50%;
		margin-top: 0.5rem;
		max-width: 20vh;
		max-height: 20vh;
	}
	.user-descript{
		@include grid-column(6 of 10);

		.level {
			list-style-type: none;
			height: 100%; 
		}
	}
	.user-usage {
		@include grid-column(2 of 10);
	}

}

.scape-menu-container{
	background-color: #e6e6e6;
	.scape-menu{
		position: relative;
		left: 31%;	
	}
}

.footer {
	height: 32vh;
	width: 100%;
	background-color: #625e57;
	.footer-logo {
		max-height: 32vh;
		position: relative;
		display: inline-block;
		margin-left: 8vw;
		.mercuryou-logo{
    		position: absolute;
   			left: 35%;
    		top: 74%;
			width: 30%;
		}
	}
}