{% extends "index.html" %}
{% load static %}
{% load tz %}
{% load l10n %}
{% load i18n %}
{% load astrotags %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  {% include 'charts/chart.html' with object=user.profile %}
  <!-- Action buttons -->
{% if object == request.user %}
<div class="row">



  <div class="col-sm-12 ">
    <a class="btn btn-primary" href="{% url 'users:update' %}">{% trans "Update" %}</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">{% trans "E-Mail" %}</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>


</div>
<!-- End Action buttons -->
{% endif %}



</div>

{% endblock content %}


{% block footer %}
<script>
// Declared globally to make debugging easier
$('#astrochart').svg();
var chart = $('#astrochart').svg('get');

(function ($, window, document, undefined) {

    'use strict';


    chart.load('../../static/images/chart.svg', {onLoad: loaded});

    function moveAscendant(alpha) {
        // Rotation center. Fucking magic!
        var x = 268.60;
        var y = 475.25;
        var zodiac = chart.getElementById('zodiac-wheel');

        // Extract a possible "translate" transform to keep it along with the rotation
        var translateExp = /(translate\([^)]+\))/;
        var matches = translateExp.exec(zodiac.getAttribute('transform'));
        var translate = matches.length > 0 ? matches[1] : '';

        chart.change(zodiac, {transform:"rotate(" + alpha + "," + x + "," + y + ") " + translate});
    }

    function radians(degrees) {
        return degrees * (Math.PI/180);
    }

    // Elements within g named "name" must be positioned relative to it.
    // If position is absolute, the object will move somewhere other than the chart center.
    // I should probably reset all of them after loading the SVG.
    function moveObject(name, alpha) {
        var obj = chart.getElementById(name);
        var width = obj.getBoundingClientRect().width;
        var height = obj.getBoundingClientRect().height;

        var r = 200,
            magicx = -10,
            magicy = +12;

        var x = r * Math.cos(radians(alpha)) + chart.width() / 2 - width/2 + magicx,
            y = r * Math.sin(radians(alpha)) - chart.height() / 2 + height/2 + magicy;

        chart.change(obj, {transform:"translate(" + x + "," + y + ")"});
    }



    function spinItAll(asc, sun) {
        moveAscendant(asc);
        moveObject('sun', sun);

        var i = 5;
        setTimeout(spinItAll, 100, asc + i, sun - Math.random() * i);
    }

    function loaded(svg) {
        {% localize off %}
        {% with chart=object.profile.chart%}

        var asc = {{chart.asc}};
        var asc_pos = 270-15 + asc;
        moveAscendant(asc_pos);

        {% for planet_code, planet in chart.planets.items %}
        {% endfor %}

        moveObject('sun', 180 + asc - {{chart.planets.sun.x}});
        moveObject('moon', 300);
        {%endwith%}
        {% endlocalize %}





    }




})(jQuery, window, document);


   </script>
{% endblock  %}
